body {
     font-family: sans-serif;
}

.colourButton {
     background-color: rgb(250, 0, 0);
     width: 50px;
     height: 50px;
     border: none;
     border-radius: 50%;
     box-shadow: none;
     margin: 10px;
}

#buttonWrapper {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     margin: 0 auto;
}

h1 {
     text-align: center;
}

#colourValue {
     margin: 0 auto;
     text-align: center;
     font-style: italic;
}

#answer {
     animation: answer-popup;
     animation-duration: 1s;
     animation-iteration-count: 1;
     margin: 10px auto;
     text-align: center;
     font-size: 1.5em;
}

@keyframes answer-popup {
     0% {
          opacity: 0;
          font-size: 0.1em ;
     }
     
     50% {
          opacity: 0.8;
          font-size: 2em ;
     }

     100% {
          opacity: 1;
          font-size: 1.5em ;
     }
}

#reset {
     margin: 0 auto;
     text-align: center;
}

#resetButton {
     font-family: sans-serif;
     font-weight: bold;
     padding: 12px;
     background: none;
     border: 2px solid #000;
     margin: 10px;
     position: relative;
     top: 10px;
}